.cusadd{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:10%;
    padding:0;
    color:#EEEEEE;
    transition: all .2s;
    background-color: #30343f;
}
.cusadd:hover{
    color:green;
}

.cusremove{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:10%;
    padding:0;
    color:#EEEEEE;
    transition: all .2s;
    background-color: #30343f;
}
.cusremove:hover{
    color:red;
}